/*******************************
GRAPHS ONLY
*******************************/

.graph {
  position: relative;
  /* ! these values control the height and width of the application */
  height: 65vh;
  width: 72.5vw;
  padding: 15px;
}

table {
  width: 100%;
  table-layout: fixed;
}
table tr th {
  text-align: left;
  background: rgb(127, 90, 240);
  color: white;
  border-color: yellow;
  font-family: sans-serif;
}
